.accordianbox {
	border: solid #00C6D6 1px;
	height: 440px;
	width: 400px;
	margin-left: 400px;
	margin-top: 20px;

}

/*------------------------------*/

.paragraph {
	max-height: 0px;
/*	height: 200px;*/
background: darkgrey;
	overflow: hidden;
}

.invisible {
	background: lightgrey;
	width: 400px;
	margin: 0px;
	font-size: 15px;
	max-height: 300px;
	overflow: hidden;
	transition-duration: 2s;
	transition-timing-function: ease;
/*	transition-property: all;*/
}





/*.paragraph2 {
	background: pink;
	width: 400px;
	margin: 0px;
	font-size: 15px;
	max-height: 0px;
	overflow: hidden;

}

.paragraph3 {
	background: pink;
	width: 400px;
	margin: 0px;
	font-size: 15px;
	max-height: 0px;
	overflow: hidden;

}*/
/*.closed {
	max-height: 0px;
	overflow: hidden;
}*/

.sectionOnebox {
/*	border: solid orange 1px;*/
	width: 400px;
}

.sectionTwobox {
	width: 400px;
}


.sectionThreebox {
	width: 400px;
}



/*-----------------------*/
.title {
/*	border: solid black 1px;*/
	background: #00C6D6;
	height: 50px;
	width: 400px;
	margin: 0px;
	font-size: 25px;
/*	padding-left: 20px;*/
}






















